[submodule "modules/dotfiles/root/.oh-my-zsh"]
	path = modules/dotfiles/root/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "modules/dotfiles/root/.addons/zsh-syntax-highlighting"]
	path = modules/dotfiles/root/.addons/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/dotfiles/root/.addons/mc-solarized-skin"]
	path = modules/dotfiles/root/.addons/mc-solarized-skin
	url = https://github.com/iwfmp/mc-solarized-skin.git
[submodule "modules/dotfiles/root/.addons/dircolors-solarized"]
	path = modules/dotfiles/root/.addons/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "modules/dotfiles/root/.addons/powerline"]
	path = modules/dotfiles/root/.addons/powerline
	url = https://github.com/Lokaltog/powerline
[submodule "modules/dotfiles/root/.addons/tmux-powerline"]
	path = modules/dotfiles/root/.addons/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "modules/dotfiles/root/.addons/nginx-chrooter"]
	path = modules/dotfiles/root/.addons/nginx-chrooter
	url = https://github.com/niieani/nginx-chrooter.git
[submodule "modules/observium-client/munin-plugins/munin-php-fpm"]
	path = modules/observium-client/munin-plugins/munin-php-fpm
	url = https://github.com/niieani/munin-php-fpm.git
[submodule "modules/observium-client/munin-plugins/munin-php-fpm-status"]
	path = modules/observium-client/munin-plugins/munin-php-fpm-status
	url = https://github.com/niieani/munin-php-fpm-status.git
[submodule "vendor/bash-modules"]
	path = vendor/bash-modules
	url = https://github.com/vlisivka/bash-modules.git
[submodule "vendor/bashdoc"]
	path = vendor/bashdoc
	url = https://github.com/ajdiaz/bashdoc.git
